.feynman__link {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 48px;
    color: #2f80ed;
    line-height: 51px;
    font-size: 31px;
    font-weight: normal;
    text-decoration: none;
  }